h2{
    text-align: center;
    background-color: #13C62B;
}
.manzana {
    width: 18rem;
    margin: 50px;
    padding: 9px;
    display: inline-block !important;
}
.cara{
    width: 18rem;
    margin: 50px;
    padding: 9px;
    display: inline-block !important;
}
.cabeza{
    width: 18rem;
    margin: 50px;
    padding: 9px;
    display: inline-block !important;
}
.ojos {
    width: 18rem;
    margin: 50px;
    padding: 9px;
    display: inline-block !important;
}
.naris{
    width: 18rem;
    margin: 50px;
    padding: 9px;
    display: inline-block !important;
}
.salsa{
    width: 18rem;
    margin: 50px;
    padding: 9px;
    display: inline-block !important;
}
.dropdown{
    display: inline-block !important;
}